.listbox .list-item,.statusbar-summary{white-space:nowrap;text-overflow:ellipsis}
.message-panel .text,.statusbar-summary{display:-webkit-box;-webkit-box-orient:vertical}
body{cursor:default;margin:0;color:#303942;overflow:hidden;-webkit-user-select:none;position:absolute;top:0;bottom:0;left:0;right:0;display:flex;flex-direction:column;font-size: 13px;}
body .monospace,body .source-code{font-size: 13px!important;font-family:dejavu sans mono,monospace}
body.platform-mac .monospace,body.platform-mac .source-code{font-size:11px!important;font-family:Menlo,monospace}
body.platform-win .monospace,body.platform-win .source-code{font-size: 13px!important;font-family:Consolas,Lucida Console,monospace;}
.frame .navigation{border-bottom:1px solid #ccc;background-color:#f3f3f3;flex:0 0 27px}
.frame .navigation ul.menu{display:flex}
.frame .navigation ul.menu li{padding:6px;height: 30px;min-width:60px;text-align:center}
.frame .navigation ul.menu li a{color:inherit;text-decoration:none;pointer-events:none}
.frame .navigation ul.menu li.selected{border-bottom:solid 2px #3879d9;}
.frame .navigation ul.menu li.menu-item:hover{background-color:#e0e0e0}
.frame .mainview{position:relative;flex:1;top:0;bottom:0;right:0;left:0}
.content{position:absolute;top:0;bottom:23px;left:0;right:0;display:flex;flex-direction:row;flex:1 1 auto;background-color:#fff}
.frame .mainview>.selected{visibility:visible}
.frame .mainview>:not(.selected){visibility:hidden;z-index:-1}
.tabbed-pane{position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden}
ol,ul{padding:0;margin:0}
li{list-style-type:none}
#patternlistB .content,#patternlistD .content{bottom:0;flex-direction:column}
#patternlistB .content .view,#patternlistD .content .view{position:relative;display:flex;flex-direction:column}
#patternlistB .content .view:first-child,#patternlistD .content .view:first-child{overflow-y:auto;flex:auto}
#patternlistB .content .view:first-child .list-item,#patternlistD .content .view:first-child .list-item{display:flex;align-items:center}
#patternlistB .content .view:first-child .list-item:nth-child(odd),#patternlistD .content .view:first-child .list-item:nth-child(odd){background-color:#eee}
#patternlistB .content .view:first-child .list-item:hover .delete:before,#patternlistD .content .view:first-child .list-item:hover .delete:before{visibility:visible}
#patternlistB .content .view:first-child .list-item .delete,#patternlistD .content .view:first-child .list-item .delete{flex:0 0 auto}
#patternlistB .content .view:first-child .list-item .delete:before,#patternlistD .content .view:first-child .list-item .delete:before{visibility:hidden}
#patternlistB .content .view:first-child .list-item .text,#patternlistD .content .view:first-child .list-item .text{overflow-x:hidden;text-overflow:ellipsis;flex:1}
#patternlistB .content .view:first-child .list-item a,#patternlistD .content .view:first-child .list-item a{pointer-events:none}
#patternlistB .content .view:first-child .list-item input[type=checkbox],#patternlistD .content .view:first-child .list-item input[type=checkbox]{margin:0 6px;flex:0 0 auto}
#patternlistB .content .view:last-child,#patternlistD .content .view:last-child{flex:0 0 auto;height:0}
#resources h3{margin:0;height: 25px;padding-left:6px;border-bottom:1px solid #ccc;background-color:#f3f3f3;font-weight: normal;line-height: 23px;font-size: inherit;}
#resources .view{display:flex;flex-direction:column;position:relative}
#resources .view:first-child{flex-basis:200px;background-color:#d6dde5}
#resources .view:first-child .list-item.selected{color:#fff;text-shadow:rgba(0,0,0,.33)1px 1px 0;background:#3879d9}
#resources .view:last-child{flex:1}
#resources .view:last-child .list-item{cursor:pointer}
#resources .view:last-child .list-item:hover{text-decoration:underline}
#resources .view:last-child .list-item:nth-child(odd){background-color:#eee}
#resources .view:last-child .list-item.status-blocked,#resources .view:last-child .list-item.status-unblocked{border-left:solid 10px #ffcb00}
#resources .view:last-child .list-item.status-blacklisted{border-left:solid 10px #EC4747}
#resources .view:last-child .list-item.status-whitelisted{border-left:solid 10px #7EE155}
#resources .view:last-child .list-item.status-gblacklisted{border-left:solid 10px #A172E0}
#resources .view:last-child .list-item.status-gwhitelisted{border-left:solid 10px #52BCD1}
#referrer,#request{overflow-y:auto}
.console{position:absolute;margin-left:5px;overflow-y:auto;padding-top:6px;left:0;right:0;bottom:23px;top:23px;flex:1;display:flex}
.console-statusbar{flex:0 0 23px;background-color:#fff;z-index:1;border-bottom:1px solid #e2e2e2}
*{box-sizing:border-box}
.console .console-input,.console .console-messages .text{min-height:16px;-webkit-user-select:text}
.console .console-input::before,.console .console-messages .text::before{left:0;background-image:url(graph/statusbarButtonGlyphs.png);background-repeat:no-repeat;margin:1px 0;position:absolute;content:"";width:10px;height:10px;-webkit-user-select:none}
.console .console-messages{flex:1 1 auto;display:flex;flex-direction:column;position:relative}
.console .console-messages .text{word-wrap:break-word;display:flex;flex:0 0 auto}
.console .console-messages .text.command{color:#0080ff}
.console .console-messages .text.command::before{background-position:-192px -107px}
.console .console-messages .text.error{color:red}
.console .console-messages .text.error::before{background-position:-213px -96px}
.console .console-input{word-wrap:break-word;flex:1 1 auto}
.console .console-input::before{background-position:-192px -96px}
.console .console-input .input{border:0;white-space:pre-wrap;color:inherit;cursor:inherit;-webkit-box-flex:1;-webkit-user-modify:read-write-plaintext-only}
:focus{outline:0}
.console .console-input .input,.console .console-messages .text{margin-left:15px}
.status-bar{position:absolute;bottom:0;left:0;right:0;background:#f3f3f3;border-top:1px solid #ccc;white-space:nowrap;z-index:10;display:flex;flex:0 0 22px}
.statusbar-item{position:relative;flex:none;width:32px;height:22px;background:0;padding:0;margin-left:-1px;margin-right:0;border:0}
.statusbar-item:active{background-position:32px 0}
.statusbar-item.statusbar-console .glyph{-webkit-mask-position:-64px -24px}
.statusbar-item.statusbar-clear .glyph{-webkit-mask-position:-64px 0}
.statusbar-item.statusbar-regexp .glyph{-webkit-mask-position:-64px -120px}
.statusbar-item.statusbar-delete .glyph{-webkit-mask-position:-128px -24px}
.statusbar-item.statusbar-live .glyph{-webkit-mask-position:-32px -48px}
.statusbar-item.active .glyph{background-color:#4281eb}
.statusbar-item .glyph{position:absolute;top:-1px;left:0;right:0;bottom:1px;z-index:1;background-color:rgba(0,0,0,.75);opacity:.8;-webkit-mask-image:url(graph/statusbarButtonGlyphs.png)}
.statusbar-item:hover .glyph{opacity:1}
.statusbar-item .glyph.shadow{z-index:0;top:1px;background-color:rgba(255,255,255,.33)}
.statusbar-summary{flex:1;overflow:hidden;line-height:18px;-webkit-box-pack:center}
.warning-icon-small{margin-right:6px;background-position:-202px -107px;background-image:url(graph/statusbarButtonGlyphs.png);background-size:320px 144px;width:10px;height:10px;display:inline-block}
.splitter{z-index:2}
.splitter.vertical-split{border-right:solid 1px #999;cursor:ew-resize;min-width:8px;margin-left:-8px}
.splitter.vertical-split::before{content:' ';position:absolute;background:url(graph/griph.png)center no-repeat;width:32px;height:22px;margin-left:-24px}
.splitter.horizontal-split{flex:0 0 23px;position:relative;cursor:ns-resize;border-top:1px solid #ccc;border-bottom:1px solid #bbb;background-color:#f3f3f3}
.glass-pane,.message-panel,.message-panel .text{right:0;top:0;position:absolute}
.splitter.horizontal-split::after{content:url(graph/gripv.png);position:absolute;right:5px;top:50%;-webkit-transform:translateY(-50%)}
.listbox .list-item{overflow-x:hidden;padding:6px 10px;-webkit-user-select:text}
.message-panel{background-color:#fff;bottom:0;left:0;padding:5px;overflow-y:auto;-webkit-user-select:text}
.message-panel ol{margin-left:20px;margin-top:5px;padding:0}
.message-panel li{margin:0;padding:0}
.message-panel .text{bottom:0;left:0;text-align:center;font-size:20px;font-weight:700;color:#a8a8a8;-webkit-box-pack:center}
.message-panel .prop-info-name{display:-webkit-inline-box;margin-right:.5em;font-weight:700;}
.message-panel .prop-info-value{display:inline;white-space:pre-wrap;word-break:break-all}
.message-panel .prop-info-value.status-icon:before{content:"";margin-right:4px;width:12px;height:12px;display:inline-block;border-radius:50%;border-width:1px;border-style:solid;box-sizing:border-box;vertical-align:top}
.message-panel .prop-info-value.status-blocked:before,.message-panel .prop-info-value.status-unblocked:before{background-color:#ffcb00;border-color:#D3A800}
.message-panel .prop-info-value.status-blacklisted:before{background-color:#EC4747;border-color:#D01616}
.message-panel .prop-info-value.status-whitelisted:before{background-color:#7EE155;border-color:#53C322}
.message-panel .prop-info-value.status-gblacklisted:before{background-color:#A172E0;border-color:#752ED1}
.message-panel .prop-info-value.status-gwhitelisted:before{background-color:#52BCD1;border-color:#309FB5}
.collapsed{display:none}
.delete{visibility:hidden;width:14px;height:14px;cursor:pointer}
.delete::before{content:'';width:14px;height:14px;background:url(graph/statusbarButtonGlyphs.png)-128px -96px no-repeat;visibility:visible;display:block}
.delete:hover::before{background-position:-96px -96px}
.glass-pane{opacity:0;z-index:10;-webkit-user-select:none;bottom:0;left:0}
.glass-pane.resize-x{cursor:ew-resize}
.glass-pane.resize-y{cursor:ns-resize}